/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --white2: #f2f2f2;
  --black: #000000;
  --primary-color: #FFD955;
  --secondary-color: #;
  --gray-800: #2B2C43;
  --rc-e5e6e6: #e5e6e6;
  --rc-b0b1b1: #b0b1b1;
  --rc-C1C1C1: #C1C1C1;
  --rc-415CF2: #415CF2;
  --rc-999: #999;
}

body {
  margin: 0;
  padding: 0px;
}

.sunbird-pdf-player {
  //calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-size: calc(12px + (24 - 12) * ((100vw - 360px)/ (1900 - 360)));
}

#toolbarContainer {
  background: none !important;
  height: auto !important;
}

#viewerContainer {
  position: relative !important;
  height: calc(100% - 3em);
}
.html,.body, .pdf-viewer button, .pdf-viewer input, .pdf-viewer select{
    font-size: inherit !important;
}
.findbar,
.secondaryToolbar,
html[dir=ltr] #toolbarContainer,
html[dir=rtl] #toolbarContainer {
  box-shadow: none !important;
}

.zoom {
  min-height: inherit !important;
}

.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.flex-jc-center {
  justify-content: center !important;
}

.flex-jc-flex-end {
  justify-content: flex-end !important;
}

.flex-ai-center {
  align-items: center !important;
}
